setuptools==58.0.4
torch==1.7.0
tqdm==4.28.1
numpy==1.21.5
opencv-python==3.4.2.17
matplotlib==3.5.1
yacs==0.1.4
pycocotools==2.0.4
scipy==1.7.3
networkx==2.6.3
scikit-image==0.19.2
Pillow==8.0
attrs==21.4.0
wheel==0.37.1
fonttools==4.31.2
torchvision==0.8.0
tensorboardX==1.2